.btn {
  padding: 20px 24px;
  border-radius: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-height: 42px;
  background-color: var(--foreground);
  border: 1px solid var(--gray-light);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  font-weight: 800;
  letter-spacing: 0.04em;
  &.btn-small {
    padding: 8px 12px;
    font-size: 14px;
  }
  &.btn-mini {
    padding: 2px 8px;
    font-size: 14px;
    width: auto;
    min-height: auto;
    font-weight: 600;
  }
  &.btn-only-text {
    padding: 0;
    min-height: auto;
    font-size: 16px;
    letter-spacing: normal;
    background: transparent !important;
    border: none;
    box-shadow: none;
  }
}

.btn.primary {
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--primary);
  &:hover {
    background: var(--primary-light);
  }
}

.btn.secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--white);

  &:hover {
    background: var(--button-secondary-hover);
  }
}

.btn.tertiary {
  background-color: var(--tertiary);
  border-color: var(--tertiary);
  color: var(--white);
  &:hover {
    background: var(--tertiary-light);
    color: var(--white);
  }
}
.btn.tertiary-bordered {
  background: var(--white);
  border: 1px solid var(--tertiary);
  color: var(--tertiary);
  &:hover {
    background: var(--tertiary-light);
    color: var(--tertiary);
  }
}

.btn.success {
  background-color: var(--success);
  color: var(--white);
  border-color: var(--success);
  &:hover {
    background: var(--success-light);
  }
}

.btn.accent {
  background-color: var(--selected);
  color: var(--white);
  box-shadow: 0px 3px 0px 0px var(--selected-dark);
  border-color: var(--selected);

  &:hover {
    background: var(--selected-light);
  }
}

.btn.neutral {
  background-color: var(--white);
  color: var(--dark);
  border-color: var(--dark);

  &:hover {
    background: var(--button-dark);
  }
}

.btn.danger {
  background-color: var(--danger);
  color: var(--white);
  border-color: var(--danger);

  &:hover {
    background: var(--danger-700);
  }
  &.btn-only-text {
    color: var(--danger);
  }
}

.btn.type-text {
  background: none;
  border: none;
  box-shadow: none;
  color: var(--text-primary);
  padding: 0;
  &:hover,
  &:active {
    background: none;
    transform: none;
  }
}

@media (max-width: 768px) {
  .btn {
    width: 100%;
  }
}
