.dangerAction {
  padding: 8px 16px;
  border-radius: 12px;
  color: var(--white);
  border: 1px solid #db2a32;
  background-color: #db2a32;
  box-shadow: 0px 3px 0px 0px #a71f25;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.dangerAction:active {
  box-shadow: none;
  transform: translateY(3px);
}

.disabledAction {
  opacity: 0.6;
  cursor: not-allowed;
}
